[Unit]
Description=Run OVH DynHost Updater every 60 minutes and 1 minute after boot

[Timer]
OnBootSec=1min
OnUnitActiveSec=60min

[Install]
WantedBy=timers.target
