[Unit]
Description=OVH DynHost Updater

[Service]
Environment=HOSTNAME=test.example.org
Environment=USERNAME=example.org-test
Environment=PASSWORD=your-password
ExecStart=/usr/local/bin/ovh-dynhost --username $USERNAME --password $PASSWORD update-record $HOSTNAME

[Install]
WantedBy=multi-user.target
