[Unit]
Description=Run OVH DynHost Updater every X minutes and 1 minute after boot

[Timer]
OnBootSec=1min
OnUnitActiveSec=15min

[Install]
WantedBy=timers.target
